.flex {
    display: flex;
}

.markdown-section {
    color: #213c31;
}

.navigation {
    top: 112px;
}

.book-header, .book-summary {
    padding-top: 62px;
}

@media (max-width: 600px) {
    .book-summary {
        padding-top: 0;
    }
}

.page-inner {
    margin-top: 62px;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    border-bottom: 1px solid #eaecef;
    background-color: #fff;
}

.header-logo-wrapper {
    margin-right: 50px;
}

.header-logo {
    font-size: 2em;
    color: #52d28b;
    font-weight: bold;
}

#header_search_query {
    cursor: text;
    width: 15rem;
    height: 3rem;
    color: #333;
    display: inline-block;
    border: 1px solid #e8e8e8;
    border-radius: 3rem;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 3.5rem 0 2rem;
    margin-right: -4rem;
}

#header_search_query:focus {
    outline:none;
}

.button-search {
    background: none;
    border: none;
}

.nav-app-wrapper {
    display: inline-block;
    position: absolute;
    right: 3rem;
}

.nav-app a {
    font-size: 1.5em;
    color: #ccc;
    padding-left: 1rem;
}

.nav-app a:hover {
    color: #333;
}

.cat-link .cat-label {
    margin: 0;
}

.cat-link:hover {
    text-decoration: none !important;
    color: #52d28b !important;
}

.cat-show {
    color: #52d28b !important;
}

.link-bold {
    font-weight: bold;
    color: #52d28b !important;
}